body{
    color:#000000;
    background-color:rgba(19, 18, 15, 0.87);
}
.login{
  color:rgba(255,255,255,0.7);
  width:50%;
}
.no-hover:hover{
  color: rgba(255, 255, 255, 0.25);
}
.new_color{
  color: rgba(255,0,0,1);
}
#sisenseApp{
}
#wrapper{
  padding-top:43px;
  padding-bottom: 30px;
}
.carousel-indicators > li {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  cursor: pointer;
  background-color: #000000;
}
.carousel-indicators .active{
  width: 12px;
  height: 12px;
  background-color: #f8b71a;
}
.carousel-inner{
  width:100%;
}

.star:hover{
  cursor: pointer;
}
