
/*
 * Content
 */

[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

/*
 * Navbar
 */
.navbar{
  height: 48px;
}
.navbar:hover{
  text-decoration: none;
  cursor: disabled;
}
.navbar-brand {
  width:173px;
  margin-right:70px;
}
.navbar-nav > li {
  float: left;
  position: relative;
}
.navbar-light .navbar-nav .active a::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    content: " ";
    border-bottom: 3px solid #f8b71a;
    color: #f8b71a;
}
.navbar-light .navbar-nav .active p{
    font-weight:bold;
    color: #f8b71a;
}

.navbar-nav{
  font-size: 18px;
  font-family: 'NanumSquareRound',sans-serif;
  color:#e6e9ed;
}
/* side Navbar */

/* side navigation */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.35s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  font-size: 18px;
  margin-left: 0px;
  background-color: #3c3f47;
  height:50px;
  width:273px;
  border:solid 1px #000;
  color:white;
  margin-top: -12px;
  font-family: 'NanumSquareRound',sans-serif;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.openbtn {
  font-size: 20px;
  color: white;
  padding: 10px 15px;
  border: none;
  background-color:rgba(0, 0, 0, 0);
}
.openbtn:hover {
  background-color: #444;
}

.sidenav a, .dropdown-btn {
  text-decoration: none;
  font-size: 15px;
  font-family: 'NanumSquareRound',sans-serif;
  color: #000;
  display: block;
  background: none;
  border: none;
  border-bottom: 0.5px solid #ddd;
  height:38px;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.dropdown-btn:focus{
  outline: 0 !important;
}
/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  background-color: rgba(125, 125, 125,0.4);
}
.dropdown-container {
  border:none;
  display: none;
  font-size:15px;
  font-family: 'NanumSquareRound',sans-serif;
  z-index: 1;
  transition:0.5s;
  text-align: center;
}

.dropdown-container img {
  margin-right:10px;
}

.dropdown-container > li{
  border:none;
  border-bottom: none;
  height:38px;
  width:273px;
  transition:0.3s;
}
