.grid{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding-top:1vw;
  padding-right:3vw;
  padding-left:1vw;
  grid-column-gap: 1.2vw;
  grid-auto-rows: calc(24vw+8px);
  justify-content: center;
}
.gridt{
  display:grid;
}

.rows {
  display: flex;
  flex-direction: column;
  width: calc(32vw - 23px);
  height: 24vw;
  font-family: 'NanumSquareRound',sans-serif;
  border-radius: 2px;
}

.rowt {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.row_blank {
  height: 3%;
}

.row_border {
  width:1px;
  height:80%;
  background-color:#555;
}

.column_border {
  width:1px;
  height:80%;
  background-color:#555;
}

.column{
    display:flex;
    flex-direction: column;
    height: 100%;
}
.indicator {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}
.indicator2 {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  text-align: center;
}
.carousel{
  width:calc(100% - 30px);
}
#title_string{
font-family: 'NanumSquareRound',sans-serif;
color: #000;
}
.fixedclear:after {content:'';display:block;clear:left;} /* float의 부모영역에서 */

#card1
.title-box {width:100%;height:12%;background-color:#eee;}
.title-box .title {float: left; width:70%; padding: 0vw 0.7vw; font-size:1.2vw; line-height:150%;}
.title-box .mesure {float: left; width:30%; font-size:0.9vw;}
.container .left-box {width:100%;height:45%;}
.container .left-box .widget1{width:100%;height:100%;}
.container .right-box {width:100%;height:33%;}
.container .right-box .top-box {float:left; width:50%;height:100%;}
.container .right-box .bottom-box {float:left; width:50%;height:100%;}
.container .right-box .bottom-box .goal {float:left; width: 50%; height: 100%;}
.container .right-box .bottom-box .achievement {float:left; width: 50%; height: 100%;}
.date {height:5%;text-align:right; font-size: 0.7vw; padding: 0px 1vw; }

#card2
.title-box {width:100%;height:10%;background-color:#eee;}
.title-box .title {float: left; width:70%; margin-top:1vw; padding: 0vw 0.7vw; font-size:1.2vw; line-height:120%; font-weight: bold;}
.title-box .mesure {float: left; width:30%;}
.container .select-box {width:100%;height:10%;padding-left:30px;}
.container .select-box .left {width:50%;float: left; margin-left:-2vw; vertical-align: middle;}
.container .select-box .left select {vertical-align: middle;font-size:0.9vw;}
.container .select-box .left button {vertical-align: middle;font-size:0.9vw;}
.container .select-box .right {width:50%;float: left; margin-left:2vw;}
.container .select-box .right p {width:100%;}
.container .scatterChart-box {width:100%;height:80%; position: relative;}
.container .scatterChart-box #widget40 {width:100%;height:100%;}
.container .scatterChart-box #widget41 {width:100%;height:100%;}
.date {height:5%;text-align:right; font-size: 0.7vw; padding: 0px 1vw; }
